body {
      margin-top: 20px;
      background-color: #ebe9dc;
    }

    .card {
      box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }

    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0, 0, 0, .125);
      border-radius: 1rem;
    }

    .IMGCENTER {
      display: block;
      /* Make the image a block-level element */
      margin: 0 auto;
      /* Center the image horizontally and vertically */
    }

    .espacio-vertical {
      margin-top: 24px;
      /* Ajusta el valor según tus necesidades */
      margin-bottom: 24px;
    }
